@@include('header.html', {
	"title": "Защита прав потребителей Тюмень. Юрист",
	"desc": "Защита прав потребителей в Тюмени. Профессиональные юристы в соответствии с законом о защите прав потребителей проведут бесплтаную консультацию, окажут помощь",
	"h1": "Юрист Тюмень. Защита прав потребителей",
	"css": [
		"template"
	]
})	

@@include('site/modules/header-nav/module.html')
<div class="modules">
	@@include('site/modules/header-bunner/module.html')
	@@include('site/modules/about-company/module.html')
	@@include('site/modules/advantages-module-1/module.html')
	@@include('site/modules/title-button/module.html')
	@@include('site/modules/advantages-module-2/module.html')	
	@@include('site/modules/module-contacts-1/module.html')		
	@@include('site/modules/about-services/module.html')
	@@include('site/modules/numbers-items/module.html')		
	@@include('site/modules/bunner-2/module.html')
	@@include('site/modules/information-1/module.html')
	@@include('site/modules/module-contacts-2/module.html')

	<!-- OVERALL -->
	@@include('site/widgets/modal/widget.html')
	<!-- OVERALL -->
</div>

<footer>
@@include('site/modules/footer-1/module.html')	
</footer>


@@include('footer.html', {
	"js": [
		"template"
	]
})
